---
title: Flexbox Grid System
---

<div class="view">
  <div class="container">
    <h1>Grid Systems Are Cool</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>If you're on a website, it's probably using a grid system.</p>
        <p>Grid systems are <em><span style="color: red">c</span><span style="color: green">o</span><span style="color: blue">o</span><span style="color: violet">l</span></em>.</p>
        <p>They allow for greater productivity!</p>
        <p>They are good for responsive stuff!</p>
        <p>They are versatile!</p>
        <img src="http://vignette1.wikia.nocookie.net/unturned-bunker/images/0/0a/Meaning-of-vault-boy-thumbs-up-jpg.jpg/revision/latest?cb=20160316025719">
        <p>Way to go grid systems!<br><br><br></p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Check Out This Grid!!!</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>So here we're using an <code>inline-block</code>-based grid system using percentages to determine our column sizes.</p>
        <p>This is pretty much the same as what we have implemented in most of our themes.</p>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14566525_1345410582150031_6950773590635577344_n.jpg?ig_cache_key=MTM4NzI3OTU3MjM0OTc0MTIyMQ%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14714485_1808643799399535_5654343579263303680_n.jpg?ig_cache_key=MTM2NDkwMDM4NDA5MDc4NTc3Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14705147_724719647679343_1239136466198593536_n.jpg?ig_cache_key=MTM2OTAzOTMyNTUxNzc1ODI2MQ%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14717341_701357796686549_5231458049872363520_n.jpg?ig_cache_key=MTM2NjMzMDE0MDE2NjM0NTE4Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <p>Pretty cool, right?</p>
        <p>Unfortunately, once the amount of objects and the sizes of the objects in our grid begin to differ, things don't look as perfect.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Awkward...</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>Look what happens when we have only two objects in our grid, but we want them to only take up 1/3 of the container width.</p>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <p>Wait, what?</p>
        <img src="https://media.giphy.com/media/IMuqnp96sdhyE/giphy.gif">
        <p>What's with that dumb little space on the right?!</p>
        <p>It looks so awkward!</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Even MORE Awkward...</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>What if one of our objects is taller than the other?</p>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text. However, this object has significantly more text than the others.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <p>WTF?</p>
        <div class="text-center">
          <img src="https://media.giphy.com/media/7ySCqK0zpozcs/giphy.gif"> <img src="https://media.giphy.com/media/LyJ6KPlrFdKnK/giphy.gif"> <img src="https://media.giphy.com/media/xhN4C2vEuapCo/giphy.gif">
        </div>
        <p>It looks like a nuclear bomb hit our grid.</p>
        <p>The second row is all pushed down, and the other objects in the first row aren't as tall as the middle one, and there's a ton of space to the right of the little guy in the second row.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Who Can Save Us?</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>Are we doomed forever to have awkward looking grids when our content doesn't line up perfectly?</p>
        <p>No!</p>
        <p>Thankfully, we have a good friend named Flexbox who can save the day!</p>
        <img class="img-responsive" src="http://www.fluffyunderware.com/_media/magical_box/magicalbox.jpg">
        <p>So, what <em>is</em> flexbox</p>
        <p>Here's MDN's description:</p>
        <blockquote>
          The CSS3 Flexible Box, or flexbox, is a layout mode providing for the arrangement of elements on a page such that the elements behave predictably when the page layout must accommodate different screen sizes and different display devices.
        </blockquote>
        <p>Basically, what this means is that we're given the power of making elements adaptible to not only your screen size, but also the sizes of other elements!</p>
        <p>Flexbox is incredibly powerful, but for this little demonstration, we're going to be going over using a flexbox grid system to specifically solve some of the issues addressed above, which are specific pain-points of our own customers.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Generating the Grid</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>Our very own Ben used the power of Sass to create a really dope grid system that uses inline-block.</p>
        <p>I was inspired by Ben's dope code, and decided to make a hybrid inline-block / flexbox grid system. After lots of hacking, here's the code that I came up with...</p>
        <p><em>(open up Atom and show them your code)</em></p>
        <p>This stuff takes advantage of Bourbon, which is a really cool collection of Sass mixins.</p>
        <p>I've added a bunch of configuration variables, so that you can easily set up how you want your grid system to work.</p>
        <p>Let's revisit the issues we encountered earlier...</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Awkward Spacing</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>Here again we have those two cards, each at 1/3 container width, looking awkward as hell over there on the left.</p>
        <p>With flexbox, we can make them seem not so shy, and put them closer to the center of the room.</p>
        <p>I'll set my <code>$justify-content</code> variable to <code>center</code>, which will center all my objects within the flex container.</p>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <p>Doesn't look so much better?</p>
        <p>Now, let's revisit the second issue we ran in to.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Dynamic Heights</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>So if we revisit our second issue, we see that the object in the second row is centered, because we justified the content!</p>
        <p>I personally prefer this, rather than them populating from the left, but it looks wicked dumb with the taller card pushing down the second row. Let's fix that by setting our <code>$align-items</code> variable to <code>stretch</code>, which will stretch the height of our objects to the height of the tallest object.</p>
        <p><em>(For some reason I couldn't get this to work completely in Safari, probably because of how I'm doing the sticky footer panels)</em></p>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text. However, this object has significantly more text than the others.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14574073_227723500996367_971414825173254144_n.jpg?ig_cache_key=MTM5MzY5NDM2NjQxMzg1NTU2Nw%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1-3">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14565015_1104897939563524_8530154140502851584_n.jpg?ig_cache_key=MTM4NDQwMTMwMzY0ODQxMTk3Mg%3D%3D.2">
            <p class="text-center">Here is some sample text.</p>
          </div>
          <div class="panel-footer">
            <a href="/" class="btn">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-xs">
        <p>Pretty cool, right?</p>
        <p>And if we add another card, it will populate with the content of the second row still centered!</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Browsers' Castle</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>You're probably thinking, <em>"Damn Jordie, all this is really cool. Why doesn't everybody use flexbox?"</em></p>
        <p>Answer: browsers suck.</p>
        <img class="img-responsive" src="http://i.imgur.com/gEQR9mE.png">
        <img class="img-responsive" src="https://i.ytimg.com/vi/-5rhH_ztj0o/maxresdefault.jpg">
        <p>Basically, not all browsers support flexbox, so if you try to use flexbox, things go bad.</p>
        <p>Thankfully, we have a magical CSS thing called <code>@supports</code>.</p>
        <p>With <code>@supports</code>, you can check to see if a browser supports a certain CSS Property, and only execute code within if does!</p>
        <p><em>(Okay Jordie now show them @supports in your code)</em></p>
        <p>So basically, this is going to use flexbox if the browser supports it, but fall back to the inline-block grid if it doesn't!</p>
        <p>Let's check browserstack.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Etc.</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>So this demonstration showed how to solve specific problems, mostly concerning how cards look and stuff. Flexbox is too powerful to do an exhaustive presentation, but let's see what happens when we mess with some of the other options available to us with some <code>align-self</code> stuff!</p>
      </div>
      <div class="griddlecake" style="height: 800px; width: 100%; background-color: black;">
        <div style="background-color: red; height: 60px" class="col-sm-1-4"></div>
        <div style="background-color: orange; height: 60px" class="col-sm-1-4"></div>
        <div style="background-color: yellow; height: 60px" class="col-sm-1-4"></div>
        <div style="background-color: green; height: 60px" class="col-sm-1-4"></div>
        <div style="background-color: blue; height: 60px" class="col-sm-1-4"></div>
        <div style="background-color: indigo; height: 60px" class="col-sm-1-4 as-center"></div>
        <div style="background-color: violet; height: 60px" class="col-sm-1-4"></div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="view">
  <div class="container">
    <h1>Resources:</h1>
    <div class="griddlecake">
      <div class="col-xs">
        <p>Like I said, I didn't show all that flexbox is capable of. If you want to learn more about any of the things I used in this presentation, or as inspiration for this presentation, try checking out these resources:</p>
        <ul>
          <li><a href="https://middlemanapp.com/">Middleman: Build static websites with an easy-to-use framework</a></li>
          <li><a href="http://sass-lang.com/">Sass: CSS with superpowers</a></li>
          <li><a href="http://bourbon.io/">Bourbon: A simple and lightweight mixin library for Sass.</a></li>
          <li><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">A Complete Guide to Flexbox (CSS Tricks)</a></li>
          <li><a href="http://flexboxfroggy.com/">Flexbox Froggy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
